@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
$title-1: calc(2400vw / 1440 + 12px);
$title-2: calc(1600vw / 1440 + 8px);
$label-size: calc(400vw / 1440 + 10px);
$card-hpadding: calc(13400vw / 1440);
$card-vpadding: calc(7000vh / 1024 + 10px);
$form-width: calc(6550vw / 1440 + 200px);
$input-height: calc(2000vh / 1024 + 36px);

$button-margin: calc(3900vh / 1024 + 20px);

$title-margin: calc(1400vw / 1440 + 6px);
$title-1-line: calc(2800vw / 1440 + 14px);
$title-2-line: calc(1600vw / 1440 + 12px);

.login-container {
    display: flex;
    flex-grow: 1;

    .image {
        background-color: #55dbec;
        min-width: 50%;
    }

    .card {
        display: flex;
        flex-direction: column;
        align-items: center;

        background-color: #ffffff;
        max-width: 50%;

        padding: $card-vpadding $card-hpadding 20px $card-hpadding;

        .header {
            margin: $title-margin 0px $title-margin 0px;

            display: inline-block;

            .title {
                text-align: center;
                font: $title-1 'Roboto';
                line-height: $title-1-line;
                color: #333333;

                width: 100%;
                display: inline-block;

                margin-bottom: $title-margin;
            }

            .subtitle {
                text-align: center;
                font: $title-2 'Roboto';
                color: #828282;
                line-height: $title-2-line;

                width: 100%;
                display: inline-block;
            }
        }

        form {
            display: flex;
            flex-direction: column;

            width: 100%;
            min-width: 200px;
            padding: 8px 0px 0px 0px;

            .field {
                display: flex;
                flex-direction: column;
                padding: 0px 0px 10px 0px;

                .up {
                    flex-direction: row;

                    justify-content: space-between;

                    padding: 0px;

                    .forgot {
                        color: #f4c23b;
                    }
                }

                label {
                    font: $label-size 'Roboto', sans-serif;
                    line-height: 16px;
                    color: #333333;
                    margin: 8px 0px;
                }

                input {
                    height: $input-height;

                    background-color: #ffffff;
                    border-radius: 8px;
                    border: 1px solid #e0e0e0;
                    box-sizing: border-box;
                    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);

                    font: 14px 'Roboto', sans-serif;

                    margin-bottom: 8px;
                    padding: 0px 16px 0px 16px;

                    &::placeholder {
                        color: #bdbdbd;
                    }
                }

                .error {
                    position: relative;
                    span {
                        position: absolute;

                        color: red;
                        font-size: 9px;
                        margin-top: -3px;
                    }
                }
            }

            .submit {
                font: $label-size 'Roboto', sans-serif;

                height: $input-height;

                margin-top: $button-margin;

                background-color: #f4c23b;
                box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
                border-radius: 8px;
            }
        }
    }
}

@media screen and (max-width: 700px) {
    .login-container {
        justify-content: center;
        .image {
            display: none !important;
        }
        .card {
            padding: $card-vpadding 0 20px 0;
        }
    }
}
