$bar-height: calc(8500vh / 1024);
$bar-padding: calc(11500vw / 1440 + 20px);
$bar-padding-2: calc(11500vw / 1440 + 5px);
$bar-marging: calc(100vw / 1440 + 10px);
$bar-marging-2: calc(600vw / 1440 + 2px);

$delimiter-height: calc(450vh / 1024 + 30px);

$text-size: calc(900vw / 1440 + 9px);

$svg-width: calc(400vw / 1440 + 8px);
$svg-height: calc(1000vh / 1024 + 8px);

$header-hmarging: calc(2000vw / 1440 + 12px);

.bar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    position: relative;
    z-index: 10;

    width: 100vw;
    height: $bar-height;
    padding: 20px $bar-padding;
    background-color: #ffffff;

    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);

    .logo-container {
        display: flex;
        flex-direction: row;
        align-items: center;

        margin: 10px 0px;

        .delimiter {
            width: 1px;
            height: $delimiter-height;
            background-color: #bdbdbd;
            margin: 0px $bar-marging;
        }

        .activity {
            display: flex;
            order: 2;

            align-items: center;
            span {
                font: $text-size 'Roboto', sans-serif;
                font-variant: small-caps;
                line-height: 21px;
                letter-spacing: 0.15em;
                color: #bdbdbd;
                margin-right: $bar-marging-2;
                
                font-variant: small-caps;
            }

            svg {
                width: $svg-width;
                height: $svg-height;
            }
        }
    }
    .lang-nav {
        overflow: hidden;
        position: relative;

        .languages-container {
            .language {
                cursor: pointer;
                span {
                    font: $text-size 'Roboto', sans-serif;
                    line-height: 21px;
                    letter-spacing: -0.04em;
                    color: #333333;
                }
            }
        }
    }
}

@media screen and (max-width: 780px) {
    .bar-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        position: relative;
        z-index: 10;

        width: 100vw;
        height: $bar-height;
        padding: 20px $bar-padding;
        background-color: #ffffff;

        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);

        .lang {
            margin: 0;
        }
    }
}

@media screen and (max-width: 370px) {
    .bar-container {
        padding: 20px $bar-padding-2;
    }
}
