$table-head-r-padding: calc(1500vw / 1440 + 10px);
$table-head-l-padding: calc(3000vw / 1440 + 10px);
$label-size: calc(400vw / 1440 + 10px);
$label-size2: calc(600vw / 1440 + 8px);
$dropdown-nav-width: calc(120vw / 1440 + 69px);
$dropdown-nav-hpadding: calc(800vw / 1440 + 10px);
$option-size: calc(1000vw / 1440 + 8px);

.table {
    .header {
        .dropdown-nav {
            overflow: hidden;

            transition: ease height 0.8s;

            .currency-container {
                display: flex;
                flex-direction: column;
                overflow: hidden;

                .currency {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;

                    align-items: center;

                    padding: 8px $dropdown-nav-hpadding;

                    border: 1px solid #e0e0e0;
                    box-sizing: border-box;
                    border-radius: 4px;

                    span {
                        margin: 0 8px;
                        transition: ease all 0.8s;
                        font-size: $option-size;
                        color: #333333;
                    }
                }
            }
            div {
                svg {
                    width: $label-size;
                    height: 8px;

                    margin: 0 4px;

                    &:hover {
                        path {
                            stroke: black;
                        }
                    }
                }
            }
        }
    }
}

.list {
    .table-head {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        padding: 3px $table-head-r-padding 3px $table-head-l-padding;

        .label {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            span {
                margin: 0 4px 0 0;
                color: #828282;
            }

            .short {
                display: none;
            }

            .long {
                display: block;
            }

            .rotate180 {
                -webkit-transform: rotate(180deg);
                -moz-transform: rotate(180deg);
                -ms-transform: rotate(180deg);
                -o-transform: rotate(180deg);
                transform: rotate(180deg);
            }
        }
        .label.v {
            justify-content: flex-end;
        }

        .prices {
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin-right: 10px;
        }
        div {
            width: 100%;
        }

        span {
            font-size: $label-size;
            line-height: 16px;
            letter-spacing: -0.04em;
        }

        svg {
            width: $label-size;
            height: 8px;

            margin: 0 0px;

            &:hover {
                path {
                    stroke: black;
                }
            }
        }
    }
}

@media screen and (max-width: 720px) {
    .list {
        .table-head {
            .prices {
                margin-left: 4px;
            }
            .label {
                &:not(.v) {
                    .short {
                        display: block;
                    }

                    .long {
                        display: none;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .header {
        .dropdown-nav {
            .currency-container {
                .currency {
                    .long {
                        display: none;
                    }

                    .short {
                        display: block;
                    }
                }
            }
        }
    }
    .list {
        .table-head {
            .prices {
                margin-left: 8px;
                .label:first-child {
                    margin: 0 8px;
                }
            }
        }
    }
}

@media screen and (max-width: 425px) {
    .home-container {
        .list {
            .table-head {
                .label {
                    span {
                        font-size: $label-size2;
                    }
                }
                .label.v {
                    justify-content: center;
                    .short {
                        display: block;
                    }

                    .long {
                        display: none;
                    }
                }
            }
        }
    }
}
