$bar-hpadding: calc(11500vw / 1440 + 20px);
$home-vpadding: calc(3000vh / 1024 + 10px);
$header-hmarging: calc(2000vw / 1440 + 12px);

$title-size: calc(1600vw / 1440 + 20px);

$label-size: calc(400vw / 1440 + 10px);
$label-size2: calc(600vw / 1440 + 8px);

$table-head-r-padding: calc(1500vw / 1440 + 10px);
$table-head-l-padding: calc(3000vw / 1440 + 10px);

$svg-width: calc(1600vw / 1440 + 8px);
$svg-height: calc(1200vh / 1440 + 8px);

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 $home-vpadding 0;

    .long {
        display: block;
    }

    .short {
        display: none;
    }

    span {
        font-size: $title-size;
        margin-right: 8px;
    }

    svg {
        width: $svg-width;
        height: $svg-height;
        transition: ease all 0.2s;

        &:hover {
            width: 27px;
            height: 23px;

            path {
                stroke: black;
            }
        }
    }
}

.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100vw;
    padding: $home-vpadding $bar-hpadding;

    .dashboard {
        display: flex;
        flex-direction: column;
        width: 100%;

        margin: 0 0 $home-vpadding 0;

        .cards {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 100%;
        }
    }
}

@media screen and (max-width: 869px) {
    .home-container {
        .dashboard {
            justify-content: center;
            width: 100%;

            .cards {
                flex-direction: column;
            }
        }
    }
}
