$icon-padding: calc(1400vw / 1440 + 10px);
$icon-size: calc(4800vw / 1440 + 24px);
$label-size: calc(600vw / 1440 + 8px);

$basic-hmargin: calc(10000vw / 1440 + 57px);
$info-text: calc(1000vw / 1440 + 8px);
$date-text: calc(800vw / 1440 + 6px);
$item-vpadding: calc(1000vh / 1024 + 6px);
$item-hpadding: calc(600vw / 1440 + 14px);

$item-height: calc(8400vh / 1024 + 20px);

.item-container .header {
    padding: 3px 25px 3px 40px;
}

.item-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin: 8px 0px;
    padding: $item-vpadding $item-hpadding;

    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    .v {
        justify-content: flex-end;

        div {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            padding: 8px 12px;

            background-color: #e0e0e0;
            border-radius: 8px;
        }

        .pos {
            background-color: #f4c23b;
        }
    }
    .prices {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        .label {
            span {
                font-size: $info-text;
                line-height: 21px;
                letter-spacing: -0.04em;
            }
        }
    }

    .label {
        display: flex;
        flex-direction: row;
        align-items: center;

        width: 100%;

        .info {
            display: flex;
            flex-direction: column;

            .name {
                text-align: center;
                font-size: $info-text;
                margin: 4px 0px;
            }

            .date {
                font-size: $date-text;
                color: #828282;
            }
        }

        .icon {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            width: $icon-size;
            height: $icon-size;

            padding: $icon-padding;
            margin: 0 16px;

            background: #f4c23b;
            border-radius: 99px;
        }

        span {
            font-size: $label-size;
            line-height: 16px;
            letter-spacing: -0.04em;
        }
    }
}

@media screen and(max-width: 600px) {
    .item-container {
        .label {
            .info {
                .date {
                    text-align: center;
                }
            }
            .icon {
                display: none;
            }
        }
        .v {
            div {
                padding: 6px 8px;
            }
        }
    }
}

@media screen and(max-width: 500px) {
    .item-container {
        padding: $item-vpadding $item-hpadding;
    }
}

@media screen and(max-width: 380px) {
    .item-container {
        padding: 12px 8px;
        .v {
            justify-content: center;
        }
        .info {
            max-width: 90%;
        }

        .prices {
            .label {
                margin-right: 5px;
            }
        }
    }
}
