$margin-right: calc(2000vw / 1440 + 12px);
$closing-hmargin: calc(10000vw / 1440 + 45px);

html {
}
body {
    background-color: #ffffff;
    overflow-x: hidden;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;

    font: 18px 'Roboto', sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#root,
.app,
.routes-container {
    display: flex;
    flex-grow: 1;
}

.routes-container {
    height: 100%;
    flex-direction: column;
}

.closing {
    display: flex;
    flex-direction: row;

    .min {
        margin-right: $closing-hmargin;
    }
}

.r-mrg {
    margin: 0 $margin-right 0 0px;
}

@media screen and (max-width: 780px) {
    .r-mrg {
        margin: 0;
    }
}
